extends layout

block content
  h1 #{title}: #{copy.imprint}
  
  p Do you really want to delete this Copy?

  form(method='POST' action='')
    div.form-group
      input#copyid.form-control(type='hidden',name='copyid', required='true', value=copy ._id )

      button.btn.btn-primary(type='submit') Delete